html{
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing:inherit;
  }
  
  body{
    margin:0;
    overflow-x: hidden;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }