@import './style.scss';


.card-container{
    width: 280px;
    height: 320px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;

   
    .cardInfo-container{
        padding: 15px 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        p{
            padding: 0;
            margin: 0;
        }
    }

    .cross-container{
        font-size: 30px;
        position: absolute;
        top:10px;
        display: none;
        right: 10px;
        color: $gray;
        cursor: pointer;
    }

}

.card-container:hover .cross-container{
    display: flex;
}